img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px rgb(0, 195, 255) !important;
}

input[type=file] {
  color: transparent;
}

